<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@if(TempData["Success"] != null)
{
    <script type="text/javascript">
        Swal.fire({
            position: "top-end",
            icon: "success",
            title: '@TempData["Success"]',
            showConfirmButton: false,
            timer: 1500
        });
    </script>
}

@if (TempData["Error"] != null)
{
    <script type="text/javascript">
        Swal.fire({
            icon: "error",
            title: "Oops...",
            text: '@TempData["Error"]',
            footer: '<a href="#">Why do I have this issue?</a>'
        });
    </script>
}